body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7664 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
}
#u7665 {
  position:absolute;
  left:2px;
  top:754px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7666 {
  position:absolute;
  left:1219px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u7667 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7668 {
  position:absolute;
  left:1282px;
  top:9px;
  width:44px;
  height:16px;
  font-size:13px;
}
#u7669 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u7670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u7670 {
  position:absolute;
  left:588px;
  top:50px;
  width:350px;
  height:41px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u7671 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u7672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7672 {
  position:absolute;
  left:599px;
  top:101px;
  width:339px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7673 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u7674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:114px;
}
#u7674 {
  position:absolute;
  left:396px;
  top:59px;
  width:121px;
  height:113px;
}
#u7675 {
  position:absolute;
  left:2px;
  top:48px;
  width:117px;
  word-wrap:break-word;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7676 {
  position:absolute;
  left:599px;
  top:139px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7677 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u7678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7678 {
  position:absolute;
  left:599px;
  top:177px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7679 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u7680 {
  position:absolute;
  left:96px;
  top:1302px;
  width:1179px;
  height:1px;
}
#u7681 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7682 {
  position:absolute;
  left:92px;
  top:1314px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7684 {
  position:absolute;
  left:96px;
  top:1348px;
  width:365px;
  height:18px;
}
#u7685 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u7686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:19px;
}
#u7686 {
  position:absolute;
  left:96px;
  top:1380px;
  width:380px;
  height:19px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u7688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u7688 {
  position:absolute;
  left:96px;
  top:1412px;
  width:223px;
  height:16px;
}
#u7689 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u7690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7690 {
  position:absolute;
  left:495px;
  top:1314px;
  width:53px;
  height:16px;
}
#u7691 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7692 {
  position:absolute;
  left:495px;
  top:1348px;
  width:43px;
  height:18px;
}
#u7693 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u7694 {
  position:absolute;
  left:495px;
  top:1380px;
  width:122px;
  height:19px;
}
#u7695 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7696 {
  position:absolute;
  left:495px;
  top:1412px;
  width:53px;
  height:16px;
}
#u7697 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7698 {
  position:absolute;
  left:627px;
  top:1348px;
  width:43px;
  height:18px;
}
#u7699 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u7700 {
  position:absolute;
  left:627px;
  top:1380px;
  width:122px;
  height:19px;
}
#u7701 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7702 {
  position:absolute;
  left:627px;
  top:1412px;
  width:53px;
  height:16px;
}
#u7703 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7704 {
  position:absolute;
  left:759px;
  top:1348px;
  width:43px;
  height:18px;
}
#u7705 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u7706 {
  position:absolute;
  left:759px;
  top:1380px;
  width:122px;
  height:19px;
}
#u7707 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7708 {
  position:absolute;
  left:759px;
  top:1412px;
  width:53px;
  height:16px;
}
#u7709 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7710 {
  position:absolute;
  left:933px;
  top:1314px;
  width:53px;
  height:16px;
}
#u7711 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:80px;
}
#u7712 {
  position:absolute;
  left:933px;
  top:1348px;
  width:192px;
  height:80px;
}
#u7713 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u7714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:106px;
}
#u7714 {
  position:absolute;
  left:1169px;
  top:1322px;
  width:102px;
  height:106px;
}
#u7715 {
  position:absolute;
  left:2px;
  top:45px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u7716 {
  position:absolute;
  left:96px;
  top:1447px;
  width:1179px;
  height:1px;
}
#u7717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u7718 {
  position:absolute;
  left:96px;
  top:1461px;
  width:300px;
  height:24px;
}
#u7719 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u7720 {
  position:absolute;
  left:975px;
  top:1461px;
  width:300px;
  height:48px;
}
#u7721 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7722 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u7723 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u7724 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u7725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7726 {
  position:absolute;
  left:122px;
  top:393px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u7727 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7728 {
  position:absolute;
  left:122px;
  top:435px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u7729 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7730 {
  position:absolute;
  left:368px;
  top:263px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7731 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7732 {
  position:absolute;
  left:821px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7733 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7734 {
  position:absolute;
  left:698px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7735 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7736 {
  position:absolute;
  left:944px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7737 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7738 {
  position:absolute;
  left:1068px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7739 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7740 {
  position:absolute;
  left:451px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7741 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7742 {
  position:absolute;
  left:1191px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7743 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7744 {
  position:absolute;
  left:575px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7745 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:2px;
}
#u7746 {
  position:absolute;
  left:318px;
  top:385px;
  width:954px;
  height:1px;
}
#u7747 {
  position:absolute;
  left:2px;
  top:-8px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7748 {
  position:absolute;
  left:320px;
  top:350px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7749 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7750 {
  position:absolute;
  left:411px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u7751 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7752 {
  position:absolute;
  left:446px;
  top:350px;
  width:85px;
  height:24px;
  font-size:20px;
}
#u7753 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7754 {
  position:absolute;
  left:320px;
  top:424px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7755 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7756 {
  position:absolute;
  left:564px;
  top:424px;
  width:221px;
  height:204px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7757 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7758 {
  position:absolute;
  left:807px;
  top:424px;
  width:221px;
  height:280px;
}
#u7759 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7760 {
  position:absolute;
  left:1051px;
  top:424px;
  width:221px;
  height:204px;
}
#u7761 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7762 {
  position:absolute;
  left:320px;
  top:714px;
  width:221px;
  height:298px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7763 {
  position:absolute;
  left:2px;
  top:141px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7764 {
  position:absolute;
  left:564px;
  top:638px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7765 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7766 {
  position:absolute;
  left:807px;
  top:714px;
  width:221px;
  height:280px;
}
#u7767 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7768 {
  position:absolute;
  left:1051px;
  top:652px;
  width:221px;
  height:266px;
}
#u7769 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7770 {
  position:absolute;
  left:320px;
  top:1022px;
  width:221px;
  height:224px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7771 {
  position:absolute;
  left:2px;
  top:104px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7772 {
  position:absolute;
  left:563px;
  top:928px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7773 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7774 {
  position:absolute;
  left:807px;
  top:1004px;
  width:221px;
  height:226px;
}
#u7775 {
  position:absolute;
  left:2px;
  top:105px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7776 {
  position:absolute;
  left:1050px;
  top:928px;
  width:221px;
  height:266px;
}
#u7777 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7778 {
  position:absolute;
  left:787px;
  top:1263px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u7779 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u7780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7781 {
  position:absolute;
  left:249px;
  top:512px;
  width:900px;
  height:600px;
}
#u7782 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7783 {
  position:absolute;
  left:276px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u7784 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u7785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7785 {
  position:absolute;
  left:1068px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u7786 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u7787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7787 {
  position:absolute;
  left:541px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u7788 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7789 {
  position:absolute;
  left:576px;
  top:350px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7790 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
