body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:754px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3852 {
  position:absolute;
  left:1219px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3854 {
  position:absolute;
  left:1282px;
  top:9px;
  width:44px;
  height:16px;
  font-size:13px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3856 {
  position:absolute;
  left:588px;
  top:50px;
  width:350px;
  height:41px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3858 {
  position:absolute;
  left:599px;
  top:101px;
  width:339px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:114px;
}
#u3860 {
  position:absolute;
  left:396px;
  top:59px;
  width:121px;
  height:113px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:48px;
  width:117px;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3862 {
  position:absolute;
  left:599px;
  top:139px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3864 {
  position:absolute;
  left:599px;
  top:177px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u3866 {
  position:absolute;
  left:96px;
  top:1302px;
  width:1179px;
  height:1px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3868 {
  position:absolute;
  left:92px;
  top:1314px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3870 {
  position:absolute;
  left:96px;
  top:1348px;
  width:365px;
  height:18px;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:19px;
}
#u3872 {
  position:absolute;
  left:96px;
  top:1380px;
  width:380px;
  height:19px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u3874 {
  position:absolute;
  left:96px;
  top:1412px;
  width:223px;
  height:16px;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3876 {
  position:absolute;
  left:495px;
  top:1314px;
  width:53px;
  height:16px;
}
#u3877 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3878 {
  position:absolute;
  left:495px;
  top:1348px;
  width:43px;
  height:18px;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3880 {
  position:absolute;
  left:495px;
  top:1380px;
  width:122px;
  height:19px;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3882 {
  position:absolute;
  left:495px;
  top:1412px;
  width:53px;
  height:16px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3884 {
  position:absolute;
  left:627px;
  top:1348px;
  width:43px;
  height:18px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3886 {
  position:absolute;
  left:627px;
  top:1380px;
  width:122px;
  height:19px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3888 {
  position:absolute;
  left:627px;
  top:1412px;
  width:53px;
  height:16px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3890 {
  position:absolute;
  left:759px;
  top:1348px;
  width:43px;
  height:18px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3892 {
  position:absolute;
  left:759px;
  top:1380px;
  width:122px;
  height:19px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3894 {
  position:absolute;
  left:759px;
  top:1412px;
  width:53px;
  height:16px;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3896 {
  position:absolute;
  left:933px;
  top:1314px;
  width:53px;
  height:16px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:80px;
}
#u3898 {
  position:absolute;
  left:933px;
  top:1348px;
  width:192px;
  height:80px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:106px;
}
#u3900 {
  position:absolute;
  left:1169px;
  top:1322px;
  width:102px;
  height:106px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:45px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u3902 {
  position:absolute;
  left:96px;
  top:1447px;
  width:1179px;
  height:1px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u3904 {
  position:absolute;
  left:96px;
  top:1461px;
  width:300px;
  height:24px;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u3906 {
  position:absolute;
  left:975px;
  top:1461px;
  width:300px;
  height:48px;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3908 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u3910 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3912 {
  position:absolute;
  left:122px;
  top:393px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3914 {
  position:absolute;
  left:122px;
  top:435px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3916 {
  position:absolute;
  left:368px;
  top:263px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3918 {
  position:absolute;
  left:821px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3920 {
  position:absolute;
  left:698px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3922 {
  position:absolute;
  left:944px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3924 {
  position:absolute;
  left:1068px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3926 {
  position:absolute;
  left:451px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3928 {
  position:absolute;
  left:1191px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3930 {
  position:absolute;
  left:575px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:2px;
}
#u3932 {
  position:absolute;
  left:318px;
  top:385px;
  width:954px;
  height:1px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3934 {
  position:absolute;
  left:320px;
  top:350px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3936 {
  position:absolute;
  left:411px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3938 {
  position:absolute;
  left:446px;
  top:350px;
  width:85px;
  height:24px;
  font-size:20px;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3940 {
  position:absolute;
  left:320px;
  top:424px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3941 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3942 {
  position:absolute;
  left:564px;
  top:424px;
  width:221px;
  height:204px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3943 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3944 {
  position:absolute;
  left:807px;
  top:424px;
  width:221px;
  height:280px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3946 {
  position:absolute;
  left:1051px;
  top:424px;
  width:221px;
  height:204px;
}
#u3947 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3948 {
  position:absolute;
  left:320px;
  top:714px;
  width:221px;
  height:298px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3949 {
  position:absolute;
  left:2px;
  top:141px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3950 {
  position:absolute;
  left:564px;
  top:638px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3951 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3952 {
  position:absolute;
  left:807px;
  top:714px;
  width:221px;
  height:280px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3954 {
  position:absolute;
  left:1051px;
  top:652px;
  width:221px;
  height:266px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3956 {
  position:absolute;
  left:320px;
  top:1022px;
  width:221px;
  height:224px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3957 {
  position:absolute;
  left:2px;
  top:104px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3958 {
  position:absolute;
  left:563px;
  top:928px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3959 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3960 {
  position:absolute;
  left:807px;
  top:1004px;
  width:221px;
  height:226px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:105px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  position:absolute;
  left:1050px;
  top:928px;
  width:221px;
  height:266px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3964 {
  position:absolute;
  left:787px;
  top:1263px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:249px;
  top:512px;
  width:900px;
  height:600px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3969 {
  position:absolute;
  left:276px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3971 {
  position:absolute;
  left:1068px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3973 {
  position:absolute;
  left:541px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3975 {
  position:absolute;
  left:576px;
  top:350px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
