body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6545 {
  position:absolute;
  left:14px;
  top:-5px;
  width:1366px;
  height:1631px;
}
#u6546 {
  position:absolute;
  left:2px;
  top:808px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6547 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u6548 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u6549 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u6550 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6551 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6552 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6553 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6554 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6555 {
  position:absolute;
  left:122px;
  top:476px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6556 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6557 {
  position:absolute;
  left:122px;
  top:519px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6558 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6559 {
  position:absolute;
  left:122px;
  top:563px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6560 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6561 {
  position:absolute;
  left:122px;
  top:605px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6562 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u6564 {
  position:absolute;
  left:108px;
  top:1250px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u6565 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u6566 {
  position:absolute;
  left:108px;
  top:1524px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u6567 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u6568 {
  position:absolute;
  left:1032px;
  top:1327px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6569 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u6570 {
  position:absolute;
  left:618px;
  top:1532px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6571 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u6572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6572 {
  position:absolute;
  left:149px;
  top:1282px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6573 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u6574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6574 {
  position:absolute;
  left:149px;
  top:1327px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u6575 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u6576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u6576 {
  position:absolute;
  left:697px;
  top:1287px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u6577 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u6578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6578 {
  position:absolute;
  left:1032px;
  top:1362px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6579 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6580 {
  position:absolute;
  left:1032px;
  top:1395px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6581 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u6582 {
  position:absolute;
  left:697px;
  top:1327px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6583 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u6584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u6584 {
  position:absolute;
  left:697px;
  top:1362px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6585 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u6586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6586 {
  position:absolute;
  left:697px;
  top:1395px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u6587 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6588 {
  position:absolute;
  left:697px;
  top:1429px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u6589 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6590 {
  position:absolute;
  left:697px;
  top:1463px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6591 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
