body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:14px;
  top:-5px;
  width:1366px;
  height:1524px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:754px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1013 {
  position:absolute;
  left:1219px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1015 {
  position:absolute;
  left:1282px;
  top:9px;
  width:44px;
  height:16px;
  font-size:13px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1017 {
  position:absolute;
  left:588px;
  top:50px;
  width:350px;
  height:41px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:599px;
  top:101px;
  width:339px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:114px;
}
#u1021 {
  position:absolute;
  left:396px;
  top:59px;
  width:121px;
  height:113px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:48px;
  width:117px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1023 {
  position:absolute;
  left:599px;
  top:139px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1025 {
  position:absolute;
  left:599px;
  top:177px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u1027 {
  position:absolute;
  left:96px;
  top:1312px;
  width:1179px;
  height:1px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1029 {
  position:absolute;
  left:92px;
  top:1326px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:96px;
  top:1360px;
  width:365px;
  height:18px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:19px;
}
#u1033 {
  position:absolute;
  left:96px;
  top:1392px;
  width:380px;
  height:19px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u1035 {
  position:absolute;
  left:96px;
  top:1424px;
  width:223px;
  height:16px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1037 {
  position:absolute;
  left:495px;
  top:1326px;
  width:53px;
  height:16px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  position:absolute;
  left:495px;
  top:1360px;
  width:43px;
  height:18px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1041 {
  position:absolute;
  left:495px;
  top:1392px;
  width:122px;
  height:19px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1043 {
  position:absolute;
  left:495px;
  top:1424px;
  width:53px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:627px;
  top:1360px;
  width:43px;
  height:18px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1047 {
  position:absolute;
  left:627px;
  top:1392px;
  width:122px;
  height:19px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1049 {
  position:absolute;
  left:627px;
  top:1424px;
  width:53px;
  height:16px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:759px;
  top:1360px;
  width:43px;
  height:18px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1053 {
  position:absolute;
  left:759px;
  top:1392px;
  width:122px;
  height:19px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1055 {
  position:absolute;
  left:759px;
  top:1424px;
  width:53px;
  height:16px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1057 {
  position:absolute;
  left:933px;
  top:1326px;
  width:53px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:80px;
}
#u1059 {
  position:absolute;
  left:933px;
  top:1360px;
  width:192px;
  height:80px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:106px;
}
#u1061 {
  position:absolute;
  left:1169px;
  top:1334px;
  width:102px;
  height:106px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:45px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u1063 {
  position:absolute;
  left:96px;
  top:1450px;
  width:1179px;
  height:1px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u1065 {
  position:absolute;
  left:96px;
  top:1461px;
  width:300px;
  height:24px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1067 {
  position:absolute;
  left:975px;
  top:1461px;
  width:300px;
  height:48px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1069 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u1071 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A5C44B;
}
#u1073 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A5C44B;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1075 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1077 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1079 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1081 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1083 {
  position:absolute;
  left:122px;
  top:604px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1085 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1087 {
  position:absolute;
  left:131px;
  top:691px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1089 {
  position:absolute;
  left:368px;
  top:263px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1091 {
  position:absolute;
  left:821px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1093 {
  position:absolute;
  left:698px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1095 {
  position:absolute;
  left:944px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1097 {
  position:absolute;
  left:1068px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1099 {
  position:absolute;
  left:451px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1101 {
  position:absolute;
  left:1191px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1103 {
  position:absolute;
  left:575px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1105 {
  position:absolute;
  left:660px;
  top:360px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u1107 {
  position:absolute;
  left:372px;
  top:410px;
  width:300px;
  height:160px;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
