body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2345 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u2347 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2349 {
  position:absolute;
  left:101px;
  top:393px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2351 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2353 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2355 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2357 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2358 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2359 {
  position:absolute;
  left:131px;
  top:607px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2361 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u2364 {
  position:absolute;
  left:82px;
  top:1288px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u2365 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u2366 {
  position:absolute;
  left:82px;
  top:1562px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u2368 {
  position:absolute;
  left:1006px;
  top:1365px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u2370 {
  position:absolute;
  left:592px;
  top:1570px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2372 {
  position:absolute;
  left:123px;
  top:1320px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2374 {
  position:absolute;
  left:123px;
  top:1365px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u2376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u2376 {
  position:absolute;
  left:671px;
  top:1325px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2378 {
  position:absolute;
  left:1006px;
  top:1400px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2379 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2380 {
  position:absolute;
  left:1006px;
  top:1433px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u2382 {
  position:absolute;
  left:671px;
  top:1365px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u2384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u2384 {
  position:absolute;
  left:671px;
  top:1400px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2386 {
  position:absolute;
  left:671px;
  top:1433px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2388 {
  position:absolute;
  left:671px;
  top:1467px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2390 {
  position:absolute;
  left:671px;
  top:1501px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u2392 {
  position:absolute;
  left:50px;
  top:36px;
  width:88px;
  height:88px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2394 {
  position:absolute;
  left:66px;
  top:124px;
  width:56px;
  height:33px;
  font-size:28px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2396 {
  position:absolute;
  left:405px;
  top:53px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2398 {
  position:absolute;
  left:560px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2400 {
  position:absolute;
  left:681px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2402 {
  position:absolute;
  left:809px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2404 {
  position:absolute;
  left:942px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2405 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2406 {
  position:absolute;
  left:1065px;
  top:53px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2408 {
  position:absolute;
  left:1181px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
