body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2240 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u2242 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2244 {
  position:absolute;
  left:101px;
  top:393px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2246 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2248 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2250 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2252 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2254 {
  position:absolute;
  left:131px;
  top:607px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2256 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u2259 {
  position:absolute;
  left:82px;
  top:1288px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u2261 {
  position:absolute;
  left:82px;
  top:1562px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u2262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u2263 {
  position:absolute;
  left:1006px;
  top:1365px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u2265 {
  position:absolute;
  left:592px;
  top:1570px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2267 {
  position:absolute;
  left:123px;
  top:1320px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:123px;
  top:1365px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u2271 {
  position:absolute;
  left:671px;
  top:1325px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2273 {
  position:absolute;
  left:1006px;
  top:1400px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2275 {
  position:absolute;
  left:1006px;
  top:1433px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u2277 {
  position:absolute;
  left:671px;
  top:1365px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u2279 {
  position:absolute;
  left:671px;
  top:1400px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2281 {
  position:absolute;
  left:671px;
  top:1433px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2283 {
  position:absolute;
  left:671px;
  top:1467px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u2285 {
  position:absolute;
  left:671px;
  top:1501px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u2286 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u2287 {
  position:absolute;
  left:50px;
  top:36px;
  width:88px;
  height:88px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2289 {
  position:absolute;
  left:66px;
  top:124px;
  width:56px;
  height:33px;
  font-size:28px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2291 {
  position:absolute;
  left:405px;
  top:53px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2293 {
  position:absolute;
  left:560px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2295 {
  position:absolute;
  left:681px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2296 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2297 {
  position:absolute;
  left:809px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2299 {
  position:absolute;
  left:942px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2301 {
  position:absolute;
  left:1065px;
  top:53px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2303 {
  position:absolute;
  left:1181px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
