body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6183 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u6184 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u6185 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6187 {
  position:absolute;
  left:101px;
  top:393px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6189 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6191 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6192 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6193 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6195 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6197 {
  position:absolute;
  left:131px;
  top:607px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u6198 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6199 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6200 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u6202 {
  position:absolute;
  left:82px;
  top:1288px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u6203 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u6204 {
  position:absolute;
  left:82px;
  top:1562px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u6205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u6206 {
  position:absolute;
  left:1006px;
  top:1365px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u6208 {
  position:absolute;
  left:592px;
  top:1570px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6209 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u6210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6210 {
  position:absolute;
  left:123px;
  top:1320px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6211 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6212 {
  position:absolute;
  left:123px;
  top:1365px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u6214 {
  position:absolute;
  left:671px;
  top:1325px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u6215 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6216 {
  position:absolute;
  left:1006px;
  top:1400px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6217 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6218 {
  position:absolute;
  left:1006px;
  top:1433px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u6220 {
  position:absolute;
  left:671px;
  top:1365px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6221 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u6222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u6222 {
  position:absolute;
  left:671px;
  top:1400px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6224 {
  position:absolute;
  left:671px;
  top:1433px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u6225 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6226 {
  position:absolute;
  left:671px;
  top:1467px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u6227 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u6228 {
  position:absolute;
  left:671px;
  top:1501px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u6230 {
  position:absolute;
  left:50px;
  top:36px;
  width:88px;
  height:88px;
}
#u6231 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6232 {
  position:absolute;
  left:66px;
  top:124px;
  width:56px;
  height:33px;
  font-size:28px;
}
#u6233 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6234 {
  position:absolute;
  left:405px;
  top:53px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6236 {
  position:absolute;
  left:560px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6237 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6238 {
  position:absolute;
  left:681px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6239 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6240 {
  position:absolute;
  left:809px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6241 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6242 {
  position:absolute;
  left:942px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6244 {
  position:absolute;
  left:1065px;
  top:53px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u6245 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6246 {
  position:absolute;
  left:1181px;
  top:53px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6247 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
