body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5725 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1630px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:807px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u5727 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u5728 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u5729 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5731 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5733 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5734 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5735 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5737 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5738 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5739 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5740 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5741 {
  position:absolute;
  left:122px;
  top:604px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5742 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5743 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5744 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5745 {
  position:absolute;
  left:131px;
  top:691px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u5746 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u5748 {
  position:absolute;
  left:82px;
  top:1264px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u5749 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u5750 {
  position:absolute;
  left:82px;
  top:1538px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u5751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u5752 {
  position:absolute;
  left:1006px;
  top:1341px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5753 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u5754 {
  position:absolute;
  left:592px;
  top:1546px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5755 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u5756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u5756 {
  position:absolute;
  left:123px;
  top:1296px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u5758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5758 {
  position:absolute;
  left:123px;
  top:1341px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u5760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u5760 {
  position:absolute;
  left:671px;
  top:1301px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u5761 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u5762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u5762 {
  position:absolute;
  left:1006px;
  top:1376px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5763 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u5764 {
  position:absolute;
  left:1006px;
  top:1409px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5765 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u5766 {
  position:absolute;
  left:671px;
  top:1341px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u5768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u5768 {
  position:absolute;
  left:671px;
  top:1376px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5769 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u5770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u5770 {
  position:absolute;
  left:671px;
  top:1409px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u5771 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u5772 {
  position:absolute;
  left:671px;
  top:1443px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u5773 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u5774 {
  position:absolute;
  left:671px;
  top:1477px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
