body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3173 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
}
#u3174 {
  position:absolute;
  left:2px;
  top:754px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u3175 {
  position:absolute;
  left:96px;
  top:1312px;
  width:1179px;
  height:1px;
}
#u3176 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3177 {
  position:absolute;
  left:92px;
  top:1326px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3179 {
  position:absolute;
  left:96px;
  top:1360px;
  width:365px;
  height:18px;
}
#u3180 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u3181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:19px;
}
#u3181 {
  position:absolute;
  left:96px;
  top:1392px;
  width:380px;
  height:19px;
}
#u3182 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u3183 {
  position:absolute;
  left:96px;
  top:1424px;
  width:223px;
  height:16px;
}
#u3184 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u3185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3185 {
  position:absolute;
  left:495px;
  top:1326px;
  width:53px;
  height:16px;
}
#u3186 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3187 {
  position:absolute;
  left:495px;
  top:1360px;
  width:43px;
  height:18px;
}
#u3188 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3189 {
  position:absolute;
  left:495px;
  top:1392px;
  width:122px;
  height:19px;
}
#u3190 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3191 {
  position:absolute;
  left:495px;
  top:1424px;
  width:53px;
  height:16px;
}
#u3192 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3193 {
  position:absolute;
  left:627px;
  top:1360px;
  width:43px;
  height:18px;
}
#u3194 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3195 {
  position:absolute;
  left:627px;
  top:1392px;
  width:122px;
  height:19px;
}
#u3196 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3197 {
  position:absolute;
  left:627px;
  top:1424px;
  width:53px;
  height:16px;
}
#u3198 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3199 {
  position:absolute;
  left:759px;
  top:1360px;
  width:43px;
  height:18px;
}
#u3200 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3201 {
  position:absolute;
  left:759px;
  top:1392px;
  width:122px;
  height:19px;
}
#u3202 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u3203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3203 {
  position:absolute;
  left:759px;
  top:1424px;
  width:53px;
  height:16px;
}
#u3204 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3205 {
  position:absolute;
  left:933px;
  top:1326px;
  width:53px;
  height:16px;
}
#u3206 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:80px;
}
#u3207 {
  position:absolute;
  left:933px;
  top:1360px;
  width:192px;
  height:80px;
}
#u3208 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:106px;
}
#u3209 {
  position:absolute;
  left:1169px;
  top:1334px;
  width:102px;
  height:106px;
}
#u3210 {
  position:absolute;
  left:2px;
  top:45px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u3211 {
  position:absolute;
  left:96px;
  top:1450px;
  width:1179px;
  height:1px;
}
#u3212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u3213 {
  position:absolute;
  left:96px;
  top:1461px;
  width:300px;
  height:24px;
}
#u3214 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u3215 {
  position:absolute;
  left:975px;
  top:1461px;
  width:300px;
  height:48px;
}
#u3216 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3217 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u3218 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u3219 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u3220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:2px;
}
#u3221 {
  position:absolute;
  left:318px;
  top:385px;
  width:954px;
  height:1px;
}
#u3222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3223 {
  position:absolute;
  left:320px;
  top:350px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3224 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3225 {
  position:absolute;
  left:411px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u3226 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3227 {
  position:absolute;
  left:446px;
  top:350px;
  width:85px;
  height:24px;
  font-size:20px;
}
#u3228 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3229 {
  position:absolute;
  left:320px;
  top:424px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3230 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3231 {
  position:absolute;
  left:564px;
  top:424px;
  width:221px;
  height:204px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3232 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3233 {
  position:absolute;
  left:807px;
  top:424px;
  width:221px;
  height:280px;
}
#u3234 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3235 {
  position:absolute;
  left:1051px;
  top:424px;
  width:221px;
  height:204px;
}
#u3236 {
  position:absolute;
  left:2px;
  top:94px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3237 {
  position:absolute;
  left:320px;
  top:714px;
  width:221px;
  height:298px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3238 {
  position:absolute;
  left:2px;
  top:141px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3239 {
  position:absolute;
  left:564px;
  top:638px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3240 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3241 {
  position:absolute;
  left:807px;
  top:714px;
  width:221px;
  height:280px;
}
#u3242 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3243 {
  position:absolute;
  left:1051px;
  top:652px;
  width:221px;
  height:266px;
}
#u3244 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3245 {
  position:absolute;
  left:320px;
  top:1022px;
  width:221px;
  height:224px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3246 {
  position:absolute;
  left:2px;
  top:104px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3247 {
  position:absolute;
  left:563px;
  top:928px;
  width:221px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3248 {
  position:absolute;
  left:2px;
  top:132px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3249 {
  position:absolute;
  left:807px;
  top:1004px;
  width:221px;
  height:226px;
}
#u3250 {
  position:absolute;
  left:2px;
  top:105px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3251 {
  position:absolute;
  left:1050px;
  top:928px;
  width:221px;
  height:266px;
}
#u3252 {
  position:absolute;
  left:2px;
  top:125px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3253 {
  position:absolute;
  left:787px;
  top:1263px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u3254 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u3255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3256 {
  position:absolute;
  left:249px;
  top:512px;
  width:900px;
  height:600px;
}
#u3257 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3258 {
  position:absolute;
  left:276px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u3259 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3260 {
  position:absolute;
  left:1068px;
  top:787px;
  width:50px;
  height:50px;
  font-size:28px;
}
#u3261 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3262 {
  position:absolute;
  left:541px;
  top:350px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u3263 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3264 {
  position:absolute;
  left:576px;
  top:350px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3265 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3266 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3267 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3268 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3269 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
