body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1872px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4635 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1872px;
}
#u4636 {
  position:absolute;
  left:2px;
  top:928px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4637 {
  position:absolute;
  left:538px;
  top:348px;
  width:300px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4638 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u4639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4639 {
  position:absolute;
  left:97px;
  top:406px;
  width:1179px;
  height:306px;
}
#u4640 {
  position:absolute;
  left:2px;
  top:145px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:132px;
}
#u4641 {
  position:absolute;
  left:136px;
  top:439px;
  width:1104px;
  height:132px;
  font-size:18px;
}
#u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  word-wrap:break-word;
}
#u4644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u4644 {
  position:absolute;
  left:97px;
  top:1608px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u4645 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u4646 {
  position:absolute;
  left:97px;
  top:1882px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u4647 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u4648 {
  position:absolute;
  left:1021px;
  top:1685px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4649 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u4650 {
  position:absolute;
  left:607px;
  top:1890px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4651 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u4652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4652 {
  position:absolute;
  left:138px;
  top:1640px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4653 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4654 {
  position:absolute;
  left:138px;
  top:1685px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u4655 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u4656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u4656 {
  position:absolute;
  left:686px;
  top:1645px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u4657 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u4658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u4658 {
  position:absolute;
  left:1021px;
  top:1720px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4659 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u4660 {
  position:absolute;
  left:1021px;
  top:1753px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4661 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u4662 {
  position:absolute;
  left:686px;
  top:1685px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4663 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u4664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u4664 {
  position:absolute;
  left:686px;
  top:1720px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4665 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u4666 {
  position:absolute;
  left:686px;
  top:1753px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u4667 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u4668 {
  position:absolute;
  left:686px;
  top:1787px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u4669 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u4670 {
  position:absolute;
  left:686px;
  top:1821px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u4671 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
