body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1350px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:667px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7107 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u7109 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7111 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7112 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7113 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u7114 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7115 {
  position:absolute;
  left:320px;
  top:350px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7116 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:2px;
}
#u7117 {
  position:absolute;
  left:320px;
  top:384px;
  width:952px;
  height:1px;
}
#u7118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:310px;
}
#u7120 {
  position:absolute;
  left:73px;
  top:970px;
  width:1350px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u7121 {
  position:absolute;
  left:2px;
  top:147px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u7122 {
  position:absolute;
  left:73px;
  top:1244px;
  width:1350px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u7123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u7124 {
  position:absolute;
  left:997px;
  top:1047px;
  width:32px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7125 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u7126 {
  position:absolute;
  left:583px;
  top:1252px;
  width:352px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u7127 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u7128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u7128 {
  position:absolute;
  left:114px;
  top:1002px;
  width:231px;
  height:35px;
  font-family:'新宋体 Bold', '新宋体 Regular', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u7129 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u7130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7130 {
  position:absolute;
  left:114px;
  top:1047px;
  width:481px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
}
#u7131 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u7132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
}
#u7132 {
  position:absolute;
  left:662px;
  top:1007px;
  width:192px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u7133 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u7134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u7134 {
  position:absolute;
  left:997px;
  top:1082px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u7136 {
  position:absolute;
  left:997px;
  top:1115px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7137 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u7138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u7138 {
  position:absolute;
  left:662px;
  top:1047px;
  width:188px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7139 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u7140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u7140 {
  position:absolute;
  left:662px;
  top:1082px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7141 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u7142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u7142 {
  position:absolute;
  left:662px;
  top:1115px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u7143 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u7144 {
  position:absolute;
  left:662px;
  top:1149px;
  width:102px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u7146 {
  position:absolute;
  left:662px;
  top:1183px;
  width:102px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u7147 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7149 {
  position:absolute;
  left:326px;
  top:408px;
  width:484px;
  height:16px;
}
#u7150 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  white-space:nowrap;
}
#u7151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7151 {
  position:absolute;
  left:1169px;
  top:408px;
  width:65px;
  height:16px;
}
#u7152 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7153 {
  position:absolute;
  left:320px;
  top:447px;
  width:198px;
  height:16px;
  font-size:13px;
}
#u7154 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u7155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7155 {
  position:absolute;
  left:1169px;
  top:447px;
  width:65px;
  height:16px;
}
#u7156 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7157 {
  position:absolute;
  left:320px;
  top:483px;
  width:367px;
  height:16px;
  font-size:13px;
}
#u7158 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u7159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7159 {
  position:absolute;
  left:1169px;
  top:483px;
  width:65px;
  height:16px;
}
#u7160 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7161 {
  position:absolute;
  left:320px;
  top:523px;
  width:287px;
  height:16px;
  font-size:13px;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u7163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7163 {
  position:absolute;
  left:1169px;
  top:523px;
  width:65px;
  height:16px;
}
#u7164 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7165 {
  position:absolute;
  left:320px;
  top:562px;
  width:265px;
  height:16px;
  font-size:13px;
}
#u7166 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u7167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7167 {
  position:absolute;
  left:1169px;
  top:562px;
  width:65px;
  height:16px;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7169 {
  position:absolute;
  left:320px;
  top:598px;
  width:307px;
  height:16px;
  font-size:13px;
}
#u7170 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u7171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7171 {
  position:absolute;
  left:1169px;
  top:598px;
  width:65px;
  height:16px;
}
#u7172 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7173 {
  position:absolute;
  left:332px;
  top:639px;
  width:484px;
  height:16px;
}
#u7174 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  white-space:nowrap;
}
#u7175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7175 {
  position:absolute;
  left:1175px;
  top:639px;
  width:65px;
  height:16px;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7177 {
  position:absolute;
  left:326px;
  top:678px;
  width:198px;
  height:16px;
  font-size:13px;
}
#u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u7179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7179 {
  position:absolute;
  left:1175px;
  top:678px;
  width:65px;
  height:16px;
}
#u7180 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7181 {
  position:absolute;
  left:326px;
  top:714px;
  width:367px;
  height:16px;
  font-size:13px;
}
#u7182 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u7183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7183 {
  position:absolute;
  left:1175px;
  top:714px;
  width:65px;
  height:16px;
}
#u7184 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7185 {
  position:absolute;
  left:326px;
  top:754px;
  width:287px;
  height:16px;
  font-size:13px;
}
#u7186 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u7187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7187 {
  position:absolute;
  left:1175px;
  top:754px;
  width:65px;
  height:16px;
}
#u7188 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7189 {
  position:absolute;
  left:326px;
  top:793px;
  width:265px;
  height:16px;
  font-size:13px;
}
#u7190 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u7191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7191 {
  position:absolute;
  left:1175px;
  top:793px;
  width:65px;
  height:16px;
}
#u7192 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7193 {
  position:absolute;
  left:326px;
  top:829px;
  width:307px;
  height:16px;
  font-size:13px;
}
#u7194 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u7195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7195 {
  position:absolute;
  left:1175px;
  top:829px;
  width:65px;
  height:16px;
}
#u7196 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7197 {
  position:absolute;
  left:639px;
  top:891px;
  width:20px;
  height:20px;
}
#u7198 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7199 {
  position:absolute;
  left:681px;
  top:891px;
  width:20px;
  height:20px;
}
#u7200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7201 {
  position:absolute;
  left:723px;
  top:891px;
  width:20px;
  height:20px;
}
#u7202 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7203 {
  position:absolute;
  left:765px;
  top:891px;
  width:20px;
  height:20px;
}
#u7204 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7205 {
  position:absolute;
  left:807px;
  top:891px;
  width:20px;
  height:20px;
}
#u7206 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7207 {
  position:absolute;
  left:849px;
  top:891px;
  width:20px;
  height:20px;
}
#u7208 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7209 {
  position:absolute;
  left:891px;
  top:891px;
  width:20px;
  height:20px;
}
#u7210 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7211 {
  position:absolute;
  left:933px;
  top:891px;
  width:20px;
  height:20px;
}
#u7212 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:597px;
  top:891px;
  width:20px;
  height:20px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7215 {
  position:absolute;
  left:555px;
  top:891px;
  width:20px;
  height:20px;
}
#u7216 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7217 {
  position:absolute;
  left:1017px;
  top:891px;
  width:20px;
  height:20px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7219 {
  position:absolute;
  left:975px;
  top:891px;
  width:20px;
  height:20px;
}
#u7220 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
