body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4932 {
  position:absolute;
  left:14px;
  top:-5px;
  width:1366px;
  height:1524px;
}
#u4933 {
  position:absolute;
  left:2px;
  top:754px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u4934 {
  position:absolute;
  left:1219px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u4936 {
  position:absolute;
  left:1282px;
  top:9px;
  width:44px;
  height:16px;
  font-size:13px;
}
#u4937 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u4938 {
  position:absolute;
  left:588px;
  top:50px;
  width:350px;
  height:41px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u4939 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4940 {
  position:absolute;
  left:599px;
  top:101px;
  width:339px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:114px;
}
#u4942 {
  position:absolute;
  left:396px;
  top:59px;
  width:121px;
  height:113px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:48px;
  width:117px;
  word-wrap:break-word;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4944 {
  position:absolute;
  left:599px;
  top:139px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4946 {
  position:absolute;
  left:599px;
  top:177px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u4948 {
  position:absolute;
  left:96px;
  top:1312px;
  width:1179px;
  height:1px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4950 {
  position:absolute;
  left:92px;
  top:1326px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952 {
  position:absolute;
  left:96px;
  top:1360px;
  width:365px;
  height:18px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:19px;
}
#u4954 {
  position:absolute;
  left:96px;
  top:1392px;
  width:380px;
  height:19px;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u4956 {
  position:absolute;
  left:96px;
  top:1424px;
  width:223px;
  height:16px;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4958 {
  position:absolute;
  left:495px;
  top:1326px;
  width:53px;
  height:16px;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4960 {
  position:absolute;
  left:495px;
  top:1360px;
  width:43px;
  height:18px;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u4962 {
  position:absolute;
  left:495px;
  top:1392px;
  width:122px;
  height:19px;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4964 {
  position:absolute;
  left:495px;
  top:1424px;
  width:53px;
  height:16px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:627px;
  top:1360px;
  width:43px;
  height:18px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u4968 {
  position:absolute;
  left:627px;
  top:1392px;
  width:122px;
  height:19px;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4970 {
  position:absolute;
  left:627px;
  top:1424px;
  width:53px;
  height:16px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4972 {
  position:absolute;
  left:759px;
  top:1360px;
  width:43px;
  height:18px;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u4974 {
  position:absolute;
  left:759px;
  top:1392px;
  width:122px;
  height:19px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4976 {
  position:absolute;
  left:759px;
  top:1424px;
  width:53px;
  height:16px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4978 {
  position:absolute;
  left:933px;
  top:1326px;
  width:53px;
  height:16px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:80px;
}
#u4980 {
  position:absolute;
  left:933px;
  top:1360px;
  width:192px;
  height:80px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:106px;
}
#u4982 {
  position:absolute;
  left:1169px;
  top:1334px;
  width:102px;
  height:106px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:45px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:2px;
}
#u4984 {
  position:absolute;
  left:96px;
  top:1450px;
  width:1179px;
  height:1px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u4986 {
  position:absolute;
  left:96px;
  top:1461px;
  width:300px;
  height:24px;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u4988 {
  position:absolute;
  left:975px;
  top:1461px;
  width:300px;
  height:48px;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4990 {
  position:absolute;
  left:105px;
  top:323px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u4992 {
  position:absolute;
  left:96px;
  top:373px;
  width:131px;
  height:1px;
}
#u4993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A5C44B;
}
#u4994 {
  position:absolute;
  left:122px;
  top:393px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A5C44B;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4996 {
  position:absolute;
  left:122px;
  top:435px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4998 {
  position:absolute;
  left:121px;
  top:478px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5000 {
  position:absolute;
  left:121px;
  top:520px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5002 {
  position:absolute;
  left:122px;
  top:562px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5004 {
  position:absolute;
  left:122px;
  top:604px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5006 {
  position:absolute;
  left:121px;
  top:647px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5008 {
  position:absolute;
  left:131px;
  top:691px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5010 {
  position:absolute;
  left:368px;
  top:263px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5012 {
  position:absolute;
  left:821px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5014 {
  position:absolute;
  left:698px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5016 {
  position:absolute;
  left:944px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5018 {
  position:absolute;
  left:1068px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5020 {
  position:absolute;
  left:451px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5022 {
  position:absolute;
  left:1191px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5024 {
  position:absolute;
  left:575px;
  top:263px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5026 {
  position:absolute;
  left:660px;
  top:360px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u5028 {
  position:absolute;
  left:372px;
  top:410px;
  width:300px;
  height:160px;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
