body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:67px;
}
#u2105 {
  position:absolute;
  left:8px;
  top:7px;
  width:768px;
  height:67px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:26px;
  width:764px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:40px;
}
#u2107 {
  position:absolute;
  left:8px;
  top:84px;
  width:768px;
  height:40px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:12px;
  width:764px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:1688px;
}
#u2109 {
  position:absolute;
  left:8px;
  top:134px;
  width:768px;
  height:1688px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:836px;
  width:764px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:67px;
}
#u2111 {
  position:absolute;
  left:8px;
  top:1832px;
  width:768px;
  height:67px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:26px;
  width:764px;
  word-wrap:break-word;
}
#u2113 {
  position:fixed;
  left:8px;
  top:7px;
  visibility:hidden;
}
#u2113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:40px;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:40px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:12px;
  width:764px;
  word-wrap:break-word;
}
#u2116 {
  position:fixed;
  left:786px;
  top:7px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u2116_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:511px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:511px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:248px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119 {
  position:absolute;
  left:786px;
  top:67px;
  width:60px;
  height:1832px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
